{% extends 'base.html' %}

{% block container %}
    <head>
        <title>Movie recommendations</title>
    </head>
    <body onload="fetchRecs(0);">
    <span></span>

    <form id="search-movie" onsubmit="event.preventDefault(); searchMovie()">
        <label for="search-movie">Search movies:</label>
        <input id="search-movie-input" name="search-movie" class="form-control" style="margin-bottom: 10px;" autofocus
               placeholder="Search for a movie...">

        <input id="recommend-search-checkbox" type="checkbox" name="recommend-search" value="recommend-search" checked>
        Sort results by those recommended to me<br>
    </form>

    <hr>

    <div id="page-header-recommend">
        <h3>Recommendations</h3>
    </div>

    <p id="loading-recs">Loading recommendations...</p>

    <div hidden id="page-header-search" style="vertical-align: center;">
        <button hidden type="button" class="btn btn-light" onclick="back();">
            <span hidden class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <h3 id="results-title" style="display: inline-block; vertical-align: -4px; margin-top: 0; margin-left: 5px;">Search Results</h3>
    </div>

    <div style="padding-top: 5px">
        <div hidden id="results-status">
        </div>

        <table hidden id="results-table" class="table table-striped">
            <tr>
                <th>Movie</th>
                <th>Genres</th>
                <th>Your Rating</th>
            </tr>
        </table>
    </div>

    </body>
{% endblock %}