{% extends 'base.html' %}

{% block container %}
    <head>
        <title>Movie recommendations</title>
    </head>
    <body>
    <span></span>

    <form id="search-movie" onsubmit="event.preventDefault(); searchMovie()">
        <label for="search-movie">Search movies:</label>
        <input id="search-movie-input" name="search-movie" class="form-control" style="margin-bottom: 10px;" autofocus placeholder="Search for a movie...">

        <input id="recommend-search-checkbox" type="checkbox" name="recommend-search" value="recommend-search" checked>  Sort results by those recommended to me<br>
    </form>

    <hr>

    <h3 id="results-title">Recommendations</h3>

    <div id="results-container">
        <p>Todo</p>
    </div>

    </body>
{% endblock %}