{% extends 'base.html' %}

{% block container %}
    <head>
        <title>{{ _('Movie Recommendations') }}</title>
    </head>
    <body onload="fetchTranslations(fetchRatings);">

    <div hidden class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <div id="alert-text">Test</div>
    </div>

    <h3>{{ _('Rated movies') }}</h3>

    <div style="padding-top: 5px">
        <div id="results-status">
            <p>{{ _('Loading ratings...') }}</p>
        </div>

        <table hidden id="results-table" class="table table-striped">
            <tr>
                <th>{{ _('Movie') }}</th>
                <th>{{ _('Genres') }}</th>
                <th>{{ _('Your Rating') }}</th>
                <th></th>
            </tr>
        </table>
    </div>

    </body>
{% endblock %}