{% extends 'base.html' %}

{% block container %}
    <head>
        <title>Change user account</title>
    </head>
    <body>
    {% if users|length > 1 %}
        <h1>Select account</h1>

        <form action="/select_user" method="post">
            <label>User account: </label>
            <!--suppress JSUnusedGlobalSymbols -->
            <select class="form-control" onchange="this.form.submit();" onfocus="this.selected = 'Choose user'" name="user_id" required title="Choose user">
                <option value="" selected disabled hidden>Choose user</option>
                {% for user in users %}
                    <option value="{{ user[0] }}">{{ user[1] }}</option>
                {% endfor %}
            </select>
        </form>
    {% endif %}


    <h1>Create user</h1>

    <form action="/create_user" method="post">
        <label for="usernameLabel">Username:</label>
        <input class="form-control" name="username" placeholder="Enter username" required>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Create Profile</button>
    </form>
    </body>
{% endblock %}