{% extends 'base.html' %}

{% block container %}
    <head>
        <title>Movie recommendations</title>
    </head>
    <body onload="fetchRecs(0);">

    <div hidden class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <div id="alert-text">Test</div>
    </div>

    <h3>Rated movies</h3>

    <div style="padding-top: 5px">
        <div id="results-status">
            <p>Loading results...</p>
        </div>

        <table hidden id="results-table" class="table table-striped">
            <tr>
                <th>Movie</th>
                <th>Genres</th>
                <th>Your Rating</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>

    </body>
{% endblock %}